<div id="content">
    <div id="content_list">
      <ul>
        <li><a href="">正在学习</a></li>
        <li><a href="">我关注的</a></li>
        <li><a href="">我看过的</a></li>
      </ul>
    </div>
    <hr>
    <div id="content_content">
      <div id="github">
        <img src="http://usercontent.edu2act.cn/media/cs/17-02-20/BRmabjXmc6M87Hx678jgkk.png?imageView2/1/w/320/h/190"
          alt="Github 开源之旅视频课程第一季：启程">
        <h5>Github 开源之旅视频课程第一季：启程</h5>
        <div class="card-content">
          <span> 完成本课程之后，能够达到以下目标：- 实名注册 Github 账户- 能够在 Github 上搜索资料- 能够评估人和项目的活跃度- 掌握 Github 社交化- 能够创建 Github 远程仓库- 能够删除
            Github 远程仓库- 能够建立本地仓库- 能够把本地仓库和远程仓库建立关联- 能够在本地仓库和远成仓库之间 push 和 pull </span>
        </div>
        <div class="card-actions">
          <span> 课时 14</span>
          <span class="pull-right">人数 3737</span>
        </div>
      </div>
    </div>
  </div>